<div class="editor-container__wrap">
  <div class="editor-container editor-container__html">
    <h2>HTML</h2>
    <textarea id="html-editor"></textarea>
  </div>
  <div class="editor-container editor-container__css">
    <h2>CSS</h2>
    <textarea id="css-editor"></textarea>
  </div>
  <div class="editor-container editor-container__js">
    <h2>JavaScript</h2>
    <textarea id="js-editor"></textarea>
  </div>
</div>
<div class="editor-actions">
  <a class="button button__run" href="javascript:;" data-preview-run>
    Run
    <%- include('../../public/images/icons/settings.svg'); -%>
  </a>
</div>